Source: dotdee
Section: admin
Priority: optional
Maintainer: Dustin Kirkland <kirkland@ubuntu.com>
Uploaders: László Böszörményi (GCS) <gcs@debian.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.4
Homepage: http://launchpad.net/dotdee

Package: dotdee
Architecture: all
Depends: ${misc:Depends}, iwatch, patch
Description: convert a flat file to a file concatenated from a .d-style directory
 dotdee is a handy utility for converting a single flat text file to a
 symlink to a file constructed by concatenating a set of files in a
 .d-style directory.
